<div class="small-container">
  <h2 class="login">Login</h2>

  <%= form_for @user, :as => :login, :url => login_path  do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h3>Login fehlgeschlagen</h3>

        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :login, 'User name' %><br />
      <%= f.text_field :login %>
    </div>

    <div class="field">
      <%= f.label :password, 'Password' %><br />
      <%= f.password_field :password %>
    </div>

    <hr />

    <div class="actions">
      <button type="submit" class="text-only">
        Einloggen
      </button>
    </div>
  <% end %>
</div>

<hr />

<% bottom_nav_link 'Register new account', registration_path %>
