<h2>Registered Users</h2>

<% @users.each do |user| %>
  <div>
    <div><%= link_to user.login, user %></div>
    <div><%= user.forename %></div>
    <div><%= user.surname %></div>
    <div><%= user.email %></div>
    <div><%= link_to 'Edit', edit_user_path(user) %></div>
    <div><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></div>
  </div>
<% end %>

<br />

<% bottom_nav_link 'New User', new_user_path, :class => 'new' %>
