<h2>Reset Password for <%= @user.login %></h2>

<div class="small-container">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>Pasword reset failed:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions">
      <button type="submit" class="text-only">
        Set new Password
      </button>
    </div>
  <% end %>
</div>

<p class="bottom-nav">
  <%= link_to 'Back', users_path, :class => 'bottom-link' %>
</p>
