<div class="row">
  <%= form_for @user, :url => registration_path, :html => {:class => 'form-horizontal'} do |f| %>
    <% if @user.errors.any? %>
      <h2>Registrierung fehlgeschlagen!</h2>
    <% end %>

    <div class="control-group">
      <%= f.label :login, 'Benutzername', :required => true, :class => 'control-label' %>
      <%= f.text_field :login, :class => 'form-control' %>
      <div class="help-block"><%= @user.errors[:login] %></div>
    </div>

    <div class="control-group">
      <%= f.label :password, 'Kennwort', :required => true, :class => 'control-label' %>
      <%= f.text_field :password, :class => 'form-control' %>
      <div class="help-block"><%= @user.errors[:password] %></div>
    </div>

    <div class="control-group">
      <%= f.label :forename, 'Vorname', :required => true, :class => 'control-label' %>
      <%= f.text_field :forename, :class => 'form-control' %>
      <div class="help-block"><%= @user.errors[:forename] %></div>
    </div>

    <div class="control-group">
      <%= f.label :surname, 'Nachname', :required => true, :class => 'control-label' %>
      <%= f.text_field :surname, :class => 'form-control' %>
      <div class="help-block"><%= @user.errors[:surname] %></div>
    </div>

    <div class="control-group">
      <%= f.label :email, 'E-Mailadresse', :required => true, :class => 'control-label' %>
      <%= f.email_field :email, :class => 'form-control' %>
      <div class="help-block"><%= @user.errors[:email] %></div>
    </div>

    <div class="control-group">
      <%= f.check_box :terms_accepted, :required => true, :class => 'control-label' %>
      <%= f.label :terms_accepted, 'Ich las und verstand das Kleingedruckte.' %>
      <div class="help-block"><%= @user.errors[:terms_accepted] %></div>
    </div>

    <hr />

    <div class="actions">
      <button type="submit" class="btn btn-primary">
        Benutzerkonto anlegen
      </button>
    </div>
  <% end %>
</div>
