<h2>Listing invitations</h2>

<table>
  <tr>
    <th>Project</th>
    <th>Inviter</th>
    <th>Invitee</th>
    <th>Message</th>
  </tr>

<% @invitations.each do |invitation| %>
  <tr>
    <td><%= link_to invitation.project_name, invitation.project %></td>
    <td><%= link_to invitation.inviter_full_name, invitation.inviter %></td>
    <td><%= link_to invitation.invitee_full_name, invitation.invitee %></td>
    <td><%= invitation.message %></td>
    <td><%= link_to 'Show', invitation %></td>
    <td><%= link_to 'Edit', edit_invitation_path(invitation) %></td>
    <td><%= link_to 'Destroy', invitation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invitation', new_invitation_path %>
