<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, 'error') %> prohibited this project from being saved:</h2>

      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label' %>
    <%= f.text_area :description, :size => '75x5', :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :date, :class => 'control-label' %>
    <%= f.date_select :date, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :bank_id, :class => 'control-label' %>
    <%= f.collection_select :bank_id, @project.users, :id, :full_name, :include_blank => 'no bank', :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= link_to 'Back', back_or_default, :class => 'btn btn-link' %>
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
