<header class="page-header">
  <div class="pull-right">
    <span class="badge"><%= @project.date %></span>
  </div>

  <h2>
    <%= @project.name %>
    <small><%= @project.description %></small>
  </h2>
</header>

<% if @project.users.any? %>
  <h3>Project Expenses and Balance</h3>

  <table class="table table-condensed align-right">
    <thead>
      <tr>
        <th>user</th>
        <% @project.memberships.each do |membership| %>
          <th>
            <%= form_for membership, :html => {:method => :delete, :class => 'form-inline'} do |f| %>
              <%= link_to membership.user.full_name, membership.user %>
              <%= hidden_referrer_input_tag %>
              <button class="btn btn-link btn-xs" type="submit">
                <i class="glyphicon glyphicon-remove text-danger"> </i>
              </button>
            <% end %>
          </th>
        <% end %>
        <th>Sum</th>
      </tr>
    </thead>

    <tbody>
      <% @project.expenses.each do |expense| %>
        <tr>
          <th><%= expense.name %></th>
          <% @project.users.each do |user| %>
            <% if expense.user_id == user.id %>
              <td class="money"><%=link_to m(expense.amount), expense %></td>
            <% else %>
              <td> </td>
            <% end %>
          <% end %>
          <td></td>
        </tr>
      <% end %>
      <tr>
        <th></th>
        <% @project.users.each do |user| %>
          <td>
            <%= link_to '+ new', new_expense_path(:user_id => user.id, :project_id => @project.id), :class => 'add' %>
          </td>
        <% end %>
        <td></td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <th>amount spent</th>
        <% @project.users.each do |user| %>
          <td class="money"><%=m user.amount_spent_on @project %></td>
        <% end %>
        <td class="money bold">
          <%= m @project.total_cost %>
        </td>
      </tr>
      <tr>
        <th>balance</th>
        <% @project.users.each do |user| %>
          <td class="money <%= css_class_for_balance user.balance_for(@project).round %>"><%=m user.balance_for @project %></td>
        <% end %>
        <td></td>
      </tr>
    </tfoot>
  </table>
<% end %>

<%= form_for @project, :html => {:class => 'form-inline'} do |f| %>
  <%= link_to 'Back', back_or_default, :class => 'btn btn-link' %>
  <%= link_to 'Edit', edit_project_path(@project, :referrer => current_path), :class => 'btn btn-link' %>

  <%= f.fields_for :memberships, Membership.new do |uf| %>
    <%= uf.collection_select :user_id, User.except(@project.user_ids).all, :id, :login, {}, :class => 'form-control' %>
  <% end %>

  <%= f.submit 'add user', :class => 'btn btn-default' %>
<% end %>

