<h2><%= @project.name %></h2>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Date:</b>
  <%= @project.date %>
</p>

<% if @project.users.any? %>
  <h3>Project Expenses and Balance</h3>

  <% @project.users.each do |user| %>
    <h4><%= user.full_name %><h4>

    <dl>
      <% user.expenses.on_project(@project).each do |expense| %>
        <dt><%= expense.name %></dt>
        <dd class="money"><%=link_to m(expense.amount), expense %></dd>
      <% end %>
      <dt class="">Total</td>
      <dd class="money total"><%=m user.amount_spent_on @project %></dd>
    </dl>
  <% end %>
<% end %>

<%= form_for(@project) do |f| %>
  <%= f.fields_for :memberships, Membership.new do |uf| %>
    <%= uf.collection_select :user_id, User.except(@project.user_ids).all, :id, :login %>
  <% end %>

  <%= f.submit 'add user' %>
<% end %>

<% bottom_nav_link 'Back', projects_path, :class => 'back' %>
<% bottom_nav_link 'Edit', edit_project_path(@project), :class => 'edit' %>

