<%= form_for(@bank_account, :url => bank_account_path) do |f| %>
  <% if @bank_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank_account.errors.count, "error") %> prohibited this bank_account from being saved:</h2>

      <ul>
        <% @bank_account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :bank_name, :class => 'control-label' %>
    <%= f.text_field :bank_name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :owner_name, :class => 'control-label' %>
    <%= f.text_field :owner_name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :account_no, :class => 'control-label' %>
    <%= f.text_field :account_no, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :blz, :class => 'control-label' %>
    <%= f.text_field :blz, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :iban, :class => 'control-label' %> (optional)
    <%= f.text_field :iban, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :bic, :class => 'control-label' %> (optional)
    <%= f.text_field :bic, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= link_to 'Back', back_or_default, :class => 'btn btn-link' %>
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
