<h1>Listing payments</h1>

<table>
  <tr>
    <th>Creditor user</th>
    <th>Debitor user</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payments.each do |payment| %>
  <tr>
    <td><%= payment.creditor_user_id %></td>
    <td><%= payment.debitor_user_id %></td>
    <td><%= payment.amount %></td>
    <td><%= payment.date %></td>
    <td><%= payment.name %></td>
    <td><%= link_to 'Show', payment %></td>
    <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
    <td><%= link_to 'Destroy', payment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payment', new_payment_path %>
