<h2>Dashboard</h2>

<p>Welcome, <%= link_to @current_user.login, @current_user %></p>

<h3>Users whom you owe money</h3>
<% if @users.any? %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>you pay</th>
        <th>you get</th>
        <th>new payment</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.login, user %></td>
          <% if (-0.01..0.01).include?(balance = @current_user.balance_to(user)) %>
            <td class="money"> -- </td>
            <td class="money"> -- </td>
          <% elsif balance > 0 %>
            <td class="money"> -- </td>
            <td class="money"><%=m balance %></td>
          <% else %>
            <td class="money"><%=m(-balance) %></td>
            <td class="money"> -- </td>
          <% end %>
          <td>
            <%= form_for Payment.new do |f| %>
              <%= hidden_referrer_input_tag %>
              <%= f.hidden_field :creditor_user_id, :value => @current_user.id %>
              <%= f.hidden_field :debitor_user_id,  :value => user.id %>
              <%= f.text_field :amount, :size => 6 %>
              <%= f.submit 'receive payment from user' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>in Words:</p>
  <ul>
    <% @users.each do |user| %>
      <li><%= @current_user.payment_instruction_for user %></li>
    <% end %>
  </ul>
<% else %>
  <p>None</p>
<% end %>

<h3>Your Projects</h3>
<% if @projects.any? %>
  <%= form_tag projects_path, :method => :get do %>
    <%= text_field_tag :q %>
    <%= submit_tag 'search' %>
  <% end %>
  <%= render 'projects/list' %>
<% else %>
  <p>None</p>
<% end %>
