<h2>Dashboard</h2>

<p>Welcome, <%= link_to @current_user.login, @current_user %></p>

<% if @users.any? %>
  <h3>Users whom you owe money</h3>
  <ul>
    <% @current_user.payment_instructions_for(@users, true).each do |instruction| %>
      <li><%= instruction %></li>
    <% end %>
  </ul>
<% end %>

<h3>Your friends</h3>
<% if @users.any? %>
  <% @users.each do |user| %>
    <div class="friend">
      <div class="name"><%= link_to user.full_name, user %></div>
      <% if (-0.01..0.01).include?(balance = @current_user.balance_to(user)) %>
      <% elsif balance > 0 %>
        <div class="money">you get <%=m balance %></div>
      <% else %>
        <div class="money">you pay <%=m(-balance) %></div>
      <% end %>

      <% if can? :receive, Payment %>
        <div class="payment">
          <%= form_for Payment.new(:creditor_user => current_user, :debitor_user => user) do |f| %>
            <%= hidden_referrer_input_tag %>
            <%= f.hidden_field :creditor_user_id %>
            <%= f.hidden_field :debitor_user_id %>
            <%= f.number_field :amount, :size => 6 %>
            <%= f.submit 'receive' %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>None</p>
<% end %>
