<p>
  <b>Project:</b>
  <%= @expense.project_id %>
</p>

<p>
  <b>User:</b>
  <%= @expense.user_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @expense.amount %>
</p>

<p>
  <b>Date:</b>
  <%= @expense.date %>
</p>

<p>
  <b>Name:</b>
  <%= @expense.name %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
