<!DOCTYPE html>
<html>
  <head>
    <title>Balancr</title>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <header>
      <h1>Balancr</h1>
    </header>

    <div class="container">
      <%= error_message %>
      <%= notice_message %>
      <%= yield %>
    </div>

    <footer>
      <%= yield :bottom_nav %>

      <% if can? :access, :dashboard %>
        <%= link_to 'Dashboard', dashboard_path, :class => 'bottom-link dashboard' %>
      <% end %>

      <% if can? :access, Project %>
        <%= link_to 'Projects', projects_path, :class => 'bottom-link projects' %>
      <% end %>

      <% if can? :access, User %>
        <%= link_to 'Users', users_path, :class => 'bottom-link users' %>
      <% end %>

      <% if can? :edit, current_user %>
        <%= link_to 'Account Settings', user_path(current_user), :class => 'bottom-link edit' %>
      <% end %>

      <% if can? :access, Payment %>
        <%= link_to 'Payments', payments_path, :class => 'bottom-link' %>
      <% end %>

      <% if can? :edit, current_user.try(:bank_account) %>
        <%= link_to 'Bank Account', edit_bank_account_path(current_user.bank_account), :class => 'bottom-link' %>
      <% elsif can? :create, BankAccount %>
        <%= link_to 'Create Bank Account', new_bank_account_path, :class => 'bottom-link' %>
      <% end %>

      <% if can? :access, :logout %>
        <%= link_to 'log out', logout_path, :class => 'bottom-link log-out' %>
      <% end %>
    </footer>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
